# Binary
*.exe
*.exe~
*.dll
*.so
*.dylib
/server

# Test
*.test
*.out

# Dependencies
vendor/

# Environment
.env

# Data
data/assets/*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store

# Docker
docker-data/
